* {
  margin: 0;
  padding: 0;
}

.container {
  font-family: 'Josefin Sans', sans-serif;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/prison-break.jpg) no-repeat;
  background-size: cover;
}

.card-wrapper {
  width: 350px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  transition: box-shadow 0.5s ease-in-out;
  overflow: hidden;
  cursor: pointer;
}

.hover-message {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: blink 2s infinite;
  text-transform: uppercase;
  font-size: 18px;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card-wrapper:hover {
  box-shadow: 0 5px 28px #fff;
}

.card-wrapper:hover .hover-message {
  display: none;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    190deg,
    rgba(105, 189, 234, 0.8) 50%,
    rgba(17, 38, 82, 0.8) 0
  );
  border-radius: 10px;
  position: absolute;
  top: -100%;
  transition: top 0.3s linear 0.5s;
}

.card-wrapper:hover .card {
  top: 0;
}

.card-image {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  border-radius: 50%;
  border: 2px solid white;
  padding: 10px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

h1 {
  font-family: 'Source Code Pro', monospace;
  font-size: 23px;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(#e3d4a4, #897d58);
  padding: 5px;
  width: 80%;
  box-sizing: border-box;
  text-align: center;
  transform: perspective(1000px) skewX(-20deg) rotateY(40deg);
}

p {
  color: #eee;
  width: 80%;
  text-align: justify;
  word-wrap: break-word;
  position: relative;
}

p i {
  font-size: 20px;
  font-style: italic;
  position: absolute;
  color: #fff;
}
p i:first-child {
  top: -10px;
  left: -22px;
}
p i:last-child {
  bottom: -5px;
  right: 10px;
}

.card-icon-link {
  text-decoration: none;
}

ul {
  display: flex;
  flex-direction: row;
}
ul li {
  margin: 0 15px;
  width: 30px;
  height: 30px;
  list-style: none;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  transition: border 0.2s linear;
}

.card-icon {
  color: #fff;
  transition: color 0.2s linear;
  line-height: 40px;
}

li:hover {
  border: 1px solid #b19a8f;
}

li:hover .card-icon {
  color: #b19a8f;
}

.card-btn {
  all: unset;
  background: linear-gradient(#6837ee, #0d2b7e);
  color: white;
  font-family: 'Source Code Pro', monospace;
  text-transform: uppercase;
  display: inline-block;
  width: 150px;
  height: 20px;
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  line-height: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}
.card-btn:active {
  transform: scale(1.05);
}

.floating-nav {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 80px;
  height: 30px;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0.5;
}

.fa-house-user,
.fa-github {
  color: white;
}
